.text-center{
    text-align: center;
}
.on-div{
    width: auto;
    background: #333;
    padding: 30px 25px 35px 25px;
    display: none
}
#text, #text span{
    font-size: 18px;
}
.modalbx{
    position: relative;
    max-height: 200px;
    overflow-y: auto;
}
.modalbx h3{
    font-size: 19px;
}
